
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>MKV Bilişim</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Content/Layout/css/style.css">
    <script src="~/Content/Layout/js/jquery-1.7.1.min.js"></script>
    <script src="~/Content/Layout/js/superfish.js"></script>
    <script src="~/Content/Layout/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/Layout/js/tms-0.4.1.js"></script>
    <script src="~/Content/Layout/js/slider.js"></script>
    <style>
        table {
            border-collapse: collapse !important;
            text-align: center;
            font-size: 15px;
            margin-top: 5% !important;
            
        }

        table, td, th, tr {
            border: 2px solid white !important;
            padding:5px!important;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="~/Content/Layout/js/html5.js"></script>
    <link rel="stylesheet" href="css/ie.css">
    <![endif]-->
</head>
<body style="color:white;">
    <div class="main-bg">
        <!-- Header -->
        <header>
            <div class="inner">
                <h1 class="logo"><a href="index.html">AgroPlus - Agriculture company</a></h1>
                @*<nav>
                    <ul class="sf-menu">
                        <li class="current"><a href="index.html">home</a></li>
                        <li><a href="products.html">products</a></li>
                        <li>
                            <a href="technology.html">technology</a>
                            <ul>
                                <li><a href="#">Maecenas faucibus</a></li>
                                <li><a href="#">Fusce tincidunt</a></li>
                                <li>
                                    <a href="#">tempor eros</a>
                                    <ul>
                                        <li><a href="#">ut viverra</a></li>
                                        <li><a href="#">hendrerit mauris</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">mauris ut du</a></li>
                            </ul>
                        </li>
                        <li><a href="pricing.html">pricing</a></li>
                        <li><a href="contacts.html">contacts</a></li>
                    </ul>
                </nav>*@
                <div class="clear"></div>
            </div>
            @*<div class="slider-container">
                    <div class="mp-slider">
                        <ul class="items">
                            <li>
                                <img src="~/Content/Layout/images/slide-1.jpg" alt="">
                                <div class="banner mp-ban-1"><span class="row-1">putting our</span><span class="row-2">heart &amp; soul</span><span class="row-3">into the field</span></div>
                            </li>
                            <li>
                                <img src="~/Content/Layout/images/slide-2.jpg" alt="">
                                <div class="banner mp-ban-2"><span class="row-1">we have a strong</span><span class="row-2">agriculture</span><span class="row-3">heritage</span></div>
                            </li>
                            <li>
                                <img src="~/Content/Layout/images/slide-3.jpg" alt="">
                                <div class="banner mp-ban-3"><span class="row-1">growing clean</span><span class="row-2">and full of health</span><span class="row-3">products</span></div>
                            </li>
                        </ul>
                    </div>
                </div>*@
            @*<a href="#" class="mp-prev"></a> <a href="#" class="mp-next"></a>*@
        </header>
        <!-- Content -->
        <section id="content">
            <div class="container_24">
                <div class="wrapper">
                    <div class="grid_24 content-bg">
                        <div class="wrapper">
                            <div class="grid_16 suffix_1 prefix_1 alpha">
                                @RenderBody()

                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </section>
        <!-- Footer -->
        <footer>
            <div class="container_24">
                <div class="wrapper">
                    <div class="grid_24 footer-bg">
                        <div class="hr-border-2"></div>
                        <div class="wrapper">
                            <div class="grid_7 suffix_1 prefix_1 alpha">
                                <div class="copyright">
                                    &copy; 2020 <strong class="footer-logo">MKV Bilişim</strong>
                                </div>
                            </div>
                            @*<div class="grid_4">
                                <h5 class="heading-1">Archives:</h5>
                                <ul class="footer-list">
                                    <li><a href="#">October 2012</a></li>
                                    <li><a href="#">September 2012</a></li>
                                    <li><a href="#">August 2012</a></li>
                                    <li><a href="#">July 2012</a></li>
                                </ul>
                            </div>
                            <div class="grid_4">
                                <h5 class="heading-1">Links:</h5>
                                <ul class="footer-list">
                                    <li><a href="#">Documentation</a></li>
                                    <li><a href="#">Plugins</a></li>
                                    <li><a href="#">Suggest Ideas</a></li>
                                    <li><a href="#">Support Forum</a></li>
                                </ul>
                            </div>
                            <div class="grid_4">
                                <h5 class="heading-1">Support:</h5>
                                <ul class="footer-list">
                                    <li><a href="#">Special Proposition</a></li>
                                    <li><a href="#">Free Phone</a></li>
                                    <li><a href="#">Solutions</a></li>
                                </ul>
                            </div>
                            <div class="grid_2 suffix_1 omega">
                                <ul class="social-list">
                                    <li><a href="#"><img src="~/Content/Layout/images/social-icon-1.png" alt=""></a></li>
                                    <li><a href="#"><img src="~/Content/Layout/images/social-icon-2.png" alt=""></a></li>
                                    <li><a href="#"><img src="~/Content/Layout/images/social-icon-3.png" alt=""></a></li>
                                </ul>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
@RenderSection("Scripts", false/*required*/)